/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --regular-size: 18px;
    font-family: 'Assistant', sans-serif;
}

#main,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    text-align: right;
    font-family: 'Assistant', sans-serif;
}


/*text color */

.copy-lead a,
.copy-large a,
.copy-base a,
.alert-copy a,
.alert-copy-with-title a,
.copy-meta a,
.table caption a,
.table-simplified caption a,
.copy-micro a,
.wrapper-footer footer#footer-openedx a,
a,
.link,
.btn-link,
.table-sortable .sortable .action-sort {
    color: black;
}


/* course component - backgrounds and borders */

.container>div {
    border: none;
}


/*  TITLES */

.textHeadline,
.xmodule_display.xmodule_VideoModule h3.hd.hd-2,
.hd.hd-3 {
    font-size: 1.5em !important;
    position: relative;
    width: fit-content;
    font-family: 'Assistant', sans-serif;
    /* margin: 50px; */
    padding: 6px 14px;
    font-weight: 700;
}

.textHeadline:before,
.textHeadline:after,
.textHeadline>:first-child:before,
.textHeadline>:first-child:after,
.xmodule_display.xmodule_VideoModule h3.hd.hd-2:before,
.xmodule_display.xmodule_VideoModule h3.hd.hd-2:after,
.xmodule_display.xmodule_VideoModule h3.hd.hd-2>:first-child:before,
.xmodule_display.xmodule_VideoModule h3.hd.hd-2>:first-child:after,
.hd.hd-3:before,
.hd.hd-3:after,
.hd.hd-3>:first-child:before,
.hd.hd-3>:first-child:after {
    position: absolute;
    content: ' ';
    width: 20px;
    height: 20px;
    border-color: #24dceaff;
    /* or whatever colour */
    border-style: solid;
    /* or whatever style */
}

.textHeadline:before,
.xmodule_display.xmodule_VideoModule h3.hd.hd-2:before,
.hd.hd-3:before {
    top: 22px;
    left: -1px;
    border-width: 0px 0px 5px 5px;
}

.textHeadline:after,
.xmodule_display.xmodule_VideoModule h3.hd.hd-2::after,
.hd.hd-3:after {
    top: 0px;
    right: -1px;
    border-width: 5px 5px 0 0;
}

.textHeadline>:first-child:before,
.xmodule_display.xmodule_VideoModule h3.hd.hd-2>:first-child:before,
.hd.hd-3>:first-child:before {
    bottom: 0;
    right: 0;
    border-width: 0 1px 1px 0
}

.textHeadline>:first-child:after,
.xmodule_display.xmodule_VideoModule h3.hd.hd-2>:first-child:after,
.hd.hd-3>:first-child:after {
    bottom: 0;
    left: 0;
    border-width: 0 0 1px 1px
}


/* HTML TEXT DIV */

.textDiv {}


/* CENTER EVERY IMG INSIDE textDiv */

.textDiv img {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}


/* big blue rectangle */


/* נסיון כושל לשים ריבוע כחול מסביב לכל העמוד */


/* main#main:before {
    position: absolute;
    content: "";
    display: block;
    width: 69%;
    height: 90%;
    top: 258px;
    left: 29px;
    background-color: #00517d;
    
    -webkit-transform: rotate( 10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate( 1.9deg);
    z-index: 0;
} */


/* cancel background transparency */


/* .xblock.xblock-student_view.xblock-student_view-sequential.xmodule_display.xmodule_SequenceModule.xblock-initialized {
    position: relative;
    background-color: transparent;
} */


/* white background to all content */


/* .vert-mod {
    background-color: white;
} */


/* .course-wrapper .course-content .vert-mod,
.course-wrapper .courseware-results-wrapper .vert-mod {
    padding: 0px;
    margin: none !important;
    line-height: 1.4;
    list-style: none;
    box-shadow: 0px -3px 9px -1px rgb(0 0 0 / 5%);
    width: 94%;
    padding: 0px 25px 0px 25px;
} */


/* cancel the line above the cintent */

.course-wrapper .course-content .vert-mod .vert>.xblock-student_view,
.course-wrapper .courseware-results-wrapper .vert-mod .vert>.xblock-student_view {
    border-bottom: none;
    margin-bottom: 15px;
    padding: 0 0 15px;
}

.problems-wrapper {
    box-shadow: 0px 0px 15px 1px rgb(0 0 0 / 12%);
    background-color: #00517d;
    padding: 3%;
    position: relative;
    z-index: 1;
}

.problems-wrapper:before {
    position: absolute;
    content: "";
    /* display: block; */
    width: 99%;
    height: 100%;
    top: 0px;
    left: 3px;
    /* box-shadow: -50px 120px 4px 10px #555; */
    -webkit-transform: rotate( 10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate( 1.9deg);
    z-index: -1;
    background-color: #F7F7F7;
}