/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --regular-size: 18px;
    font-family: 'Assistant', sans-serif;
}

#main,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    text-align: right;
    font-family: 'Assistant', sans-serif;
}


/*text color */

.copy-lead a,
.copy-large a,
.copy-base a,
.alert-copy a,
.alert-copy-with-title a,
.copy-meta a,
.table caption a,
.table-simplified caption a,
.copy-micro a,
.wrapper-footer footer#footer-openedx a,
a,
.link,
.btn-link,
.table-sortable .sortable .action-sort {
    color: black;
}


/* course component - backgrounds and borders */

.container>div {
    border: none;
}


/* HTML TEXT TITLE */

.textHeadline,
.xmodule_display.xmodule_VideoModule h3.hd.hd-2 {
    font-size: 1.5em !important;
    position: relative;
    width: fit-content;
    font-family: 'Assistant', sans-serif;
    /* margin: 50px; */
    padding: 6px 14px;
    font-weight: 700;
}

.textHeadline:before,
.textHeadline:after,
.textHeadline>:first-child:before,
.textHeadline>:first-child:after,
.xmodule_display.xmodule_VideoModule h3.hd.hd-2:before,
.xmodule_display.xmodule_VideoModule h3.hd.hd-2:after,
.xmodule_display.xmodule_VideoModule h3.hd.hd-2>:first-child:before,
.xmodule_display.xmodule_VideoModule h3.hd.hd-2>:first-child:after {
    position: absolute;
    content: ' ';
    width: 20px;
    height: 20px;
    border-color: #24dceaff;
    /* or whatever colour */
    border-style: solid;
    /* or whatever style */
}

.textHeadline:before,
.xmodule_display.xmodule_VideoModule h3.hd.hd-2:before {
    top: 22px;
    left: -1px;
    border-width: 0px 0px 5px 5px;
}

.textHeadline:after,
.xmodule_display.xmodule_VideoModule h3.hd.hd-2::after {
    top: 0px;
    right: -1px;
    border-width: 5px 5px 0 0;
}

.textHeadline>:first-child:before,
.xmodule_display.xmodule_VideoModule h3.hd.hd-2>:first-child:before {
    bottom: 0;
    right: 0;
    border-width: 0 1px 1px 0
}

.textHeadline>:first-child:after,
.xmodule_display.xmodule_VideoModule h3.hd.hd-2>:first-child:after {
    bottom: 0;
    left: 0;
    border-width: 0 0 1px 1px
}


/* HTML TEXT DIV */

.textDiv {}


/* CENTER EVERY IMG INSIDE textDiv */

.textDiv img {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}